@font-face {
  font-family: 'IranSans';
  src: url(../assets/fonts/woff/IRANSansWeb.woff);
}

body {
  font-family: 'IranSans' !important;
}

a {
  text-decoration: none !important;
  color: white;
}
